# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Crash dumps & logs
*.stackdump
*.log
